:root {
    --green500: hsl(158, 36%, 37%);
    --green-active: hsl(158, 42%, 18%);
    --black-header: hsl(212, 21%, 14%);
    --text-grey: hsl(228, 12%, 48%);
    --body-bg-cream: hsl(30, 38%, 92%);
    --card-bg-white: hsl(0, 0%, 100%);
}

body {
    margin: 0;
    padding: 2rem 1rem;
    background-color: var(--body-bg-cream);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-color: var(--card-bg-white);
}

.mobile-img {
    width: 100%;
    height: auto;
}

.wrapper, .mobile-img {
    border-radius: 5px 5px 0 0;    
}

.desktop-img {
    display: none;
}

.bottom {
    padding: 0 1rem 1rem 1rem;
}

.attribution {
    margin-top: auto;
}