@font-face {
    font-family: 'Montserrat';
    src: url(./fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Fraunces';
    src: url(./fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

:root {
    --green500: hsl(158, 36%, 37%);
    --green-active: hsl(158, 42%, 18%);
    --black-header: hsl(212, 21%, 14%);
    --text-grey: hsl(228, 12%, 48%);
    --body-bg-cream: hsl(30, 38%, 92%);
    --card-bg-white: hsl(0, 0%, 100%);
}

body {
    margin: 0;
    background-color: var(--body-bg-cream);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    background-color: var(--card-bg-white);
    border-radius: 5px;
    margin-top: auto;
}

.mobile-img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

.desktop-img {
    display: none;
}

.bottom {
    padding: 0 1.5rem 1.5rem 1.5rem;
}

.product-type {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 14px;
    color: var(--text-grey);
}

.product {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: var(--black-header);
    font-size: 28px;
    line-height: 0.9;
}

.info {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-grey);
    line-height: 1.5;
}

.prices {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.discount-price {
    font-family: 'Fraunces', serif;
    font-size: 28px;
    font-weight: 700;
    color: var(--green500);
}

.orig-price {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: var(--text-grey);
    text-decoration:line-through;
}

.add-to-cart{
    width: 100%;
    padding: 1rem 3rem;
    color: var(--card-bg-white);
    background-color: var(--green500);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 5px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.add-to-cart:active {
    background-color: var(--green-active);
}

.cart {
    height: 14px;
    width: auto;
}

.attribution {
    margin-top: auto;
}